.player-section {
    
    .planes-text {
        width: 100%;
        @include large {
            width: 80%;
        }
    }


    .numero-step {
        margin-top: -33px;
        background-color: #FCC11C;
        height: 55px;
        width: 55px;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        line-height: 32px;
        @include transition($time: .5s);
        @include small() {
            margin-top: -13px;
            height: 25px;
            width: 25px;
            font-size: 15px;
            line-height: 26px;
            @include transition($time: .5s);
        }
        @include medium() {
            margin-top: -20px;
            height: 35px;
            width: 35px;
            font-size: 25px;
            line-height: 26px;
            @include transition($time: .5s);
        }
        @include large() {
            margin-top: -20px;
            height: 55px;
            width: 55px;
            font-size: 36px;
            line-height: 32px;
            @include transition($time: .5s);
        }
    }
    
    .footer-ganardinero {
        border: 0.583418px solid #464646;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        p{
            margin: 0 !important;
            padding: 0 !important;
            text-align: center ;
            font-size: 0.8rem;
        }
    }
    
    #carousel-ganar-dinero {
        max-height: 600px;
    
        .carousel-indicators{
            position: absolute !important;
            bottom:  -20px;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 100 !important;
        }
    
        .carousel-control-prev-icon, .carousel-control-next-icon{
            background: none !important;
            border-left: 4px solid $danger;
            border-bottom: 4px solid $danger;
        }
    
    
        .carousel-control-next-icon{
            transform: rotate(225deg) !important;
        }
        .carousel-control-prev-icon {
            transform: rotate(45deg) !important;
        }
    
        .carousel-indicators li{
            background-color: $danger !important;
        }
    
    }
    
    .hide-slider{
        display: block;
        @include large{
            display: none   !important;
        }
    }
    
    .carousel-ganardinero {
        .carousel-item {
            >div {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 7px;
                .title-step {
                    margin-top: 10px;
                    width: 80% !important;
                    font-size: 1rem;
                    overflow: hidden !important;
                    font-weight: 900;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 15px;
                }
                .contenido {
                    font-size: 0.9rem;
                    text-align: center;
                    max-width: 350px;
                }
            }
            .step-impar {
                .icon {
                    background-color: #D8E3F5;
                    height: 120px;
                    width: 120px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 7px;
                    i {
                        font-size: 3rem;
                    }
                }
            }
            .step-par {
                .icon {
                    background-color: $danger;
                    height: 120px;
                    width: 120px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    border-radius: 50%;
                    i {
                        font-size: 3rem;
                    }
                }
            }
        }
    }
    
    .curve-carousel {
        position: absolute;
        margin-top: 65px;
        z-index: -1;
        img {
            height: auto;
            width: 99%;
        }
    }



}